<div
  class="container mx-auto px-3"
  id="about"
  (window:resize)="onResize($event)"
>
  <div class="flex lg:flex-row flex-col gap-[30px] mb-[100px] items-center">
    <div class="flex-1">
      <h3
        class="font-open md:text-[28px] text-xl leading-[38px] text-[#222222] md:mb-9 mb-5 font-semibold text-center md:text-start"
      >
        {{ "about.mainTitle" | translate }}
      </h3>
      <p
        class="text-[#51595b] font-oswald md:text-base text-sm leading-8 text-center md:text-start"
      >
        {{ "about.text" | translate }}
      </p>
    </div>
    <div class="flex-basis md:w-[570px] md:h-[557px] w-max-[400px] h-[400px]">
      <img
        src="./assets/images/about.png"
        alt="about"
        class="w-full h-full object-contain"
      />
    </div>
  </div>

  <div>
    <nz-timeline [nzMode]="'custom'">
      @for(story of stories; track $index; let odd = $odd) {
      <nz-timeline-item
        [nzLabel]="label"
        [nzPosition]="leftPosition ? 'left' : odd ? 'left' : 'right'"
        ><span class="font-oswald font-medium text-lg md:text-2xl">{{
          story.text | translate
        }}</span></nz-timeline-item
      >
      <ng-template #label>
        <span class="font-open font-bold text-base md:text-xl text-[#009bde]">{{
          story.label
        }}</span>
      </ng-template>
      }
    </nz-timeline>
  </div>

  <!-- <div class="relative">
    <div class="flex flex-row">
      <div class="p-2 rounded-xl border max-w-[300px] w-full time-card">
        <h4>1996</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde magni
          suscipit sint doloremque totam culpa perferendis quaerat expedita eum
          fugit a natus exercitationem, adipisci, est tempore nemo laborum harum
          cupiditate.
        </p>
      </div>
      <div class="p-2 rounded-xl border max-w-[300px] w-full time-card">
        <h4>1996</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde magni
          suscipit sint doloremque totam culpa perferendis quaerat expedita eum
          fugit a natus exercitationem, adipisci, est tempore nemo laborum harum
          cupiditate.
        </p>
      </div>
      <div class="p-2 rounded-xl border max-w-[300px] w-full time-card">
        <h4>1996</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde magni
          suscipit sint doloremque totam culpa perferendis quaerat expedita eum
          fugit a natus exercitationem, adipisci, est tempore nemo laborum harum
          cupiditate.
        </p>
      </div>
      <div class="p-2 rounded-xl border max-w-[300px] w-full time-card">
        <h4>1996</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde magni
          suscipit sint doloremque totam culpa perferendis quaerat expedita eum
          fugit a natus exercitationem, adipisci, est tempore nemo laborum harum
          cupiditate.
        </p>
      </div>
    </div>
    <div class="h-[2px] w-full bg-[#009bde]"></div>
    <div class="flex flex-row">
      <div class="p-2 rounded-xl border max-w-[300px] w-full time-card">
        <h4>1996</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde magni
          suscipit sint doloremque totam culpa perferendis quaerat expedita eum
          fugit a natus exercitationem, adipisci, est tempore nemo laborum harum
          cupiditate.
        </p>
      </div>
      <div class="p-2 rounded-xl border max-w-[300px] w-full time-card">
        <h4>1996</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde magni
          suscipit sint doloremque totam culpa perferendis quaerat expedita eum
          fugit a natus exercitationem, adipisci, est tempore nemo laborum harum
          cupiditate.
        </p>
      </div>
      <div class="p-2 rounded-xl border max-w-[300px] w-full time-card">
        <h4>1996</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde magni
          suscipit sint doloremque totam culpa perferendis quaerat expedita eum
          fugit a natus exercitationem, adipisci, est tempore nemo laborum harum
          cupiditate.
        </p>
      </div>
    </div>
  </div> -->
</div>
