<div class="container mx-auto px-3">
 <div class="flex flex-row gap-[30px]">
  <div class="pt-[150px] flex-1">
    <h3 class="font-open text-[28px] leading-[38px] text-[#222222] mb-9 font-semibold">No more confusion and complex to manage your office.</h3>
    <p class="text-[#51595b] font-oswald text-base leading-8">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
  </div>
  <div class="flex-basis w-[570px] h-[557px]">
    <img src="./assets/images/about.png" alt="about" class="w-full h-full object-contain">
  </div>
 </div>
</div>