<div class="container mx-auto py-[100px] px-[15px]" id="metal">
  <h2
    class="text-center font-open text-[28px] leading-[38px] text-[#222222] mb-9 font-semibold uppercase max-w-[600px] w-full mx-auto"
  >
    {{ "metal.title" | translate }}
  </h2>

  <div class="flex md:flex-row flex-col gap-[80px] items-center justify-center">
    <div class="">
      <ul class="flex flex-col gap-3">
        <li class="font-oswald font-light text-black text-lg">
          {{ "metal.text-1" | translate }}
        </li>
        <li class="font-oswald font-light text-black text-lg">
          {{ "metal.text-2" | translate }}
        </li>
        <li class="font-oswald font-light text-black text-lg">
          {{ "metal.text-3" | translate }}
        </li>
        <li class="font-oswald font-light text-black text-lg">
          {{ "metal.text-4" | translate }}
        </li>
        <li class="font-oswald font-light text-black text-lg">
          {{ "metal.text-5" | translate }}
        </li>
        <li class="font-oswald font-light text-black text-lg">
          {{ "metal.text-6" | translate }}
        </li>
      </ul>
    </div>
    <div class="sm:size-[400px] size-[300px] relative max-w-[400px] w-full">
      <img src="./assets/images/erp-metal.jpg" alt="img" />
    </div>
  </div>
</div>
