<div class="container mx-auto py-[100px] px-[15px]">
  <h2
    class="text-center font-open text-[28px] leading-[38px] text-[#222222] mb-9 font-semibold uppercase"
  >
    Metal factory
  </h2>

  <div class="flex flex-row gap-[80px] items-center">
    <div class="size-[400px] relative flex-basis-1 w-[400px]">
      <img src="./assets/images/erp-metal.jpg" alt="img" />
    </div>
    <div class="grow flex-1">
      <ul class="flex flex-col gap-3">
        <li class="font-oswald font-light text-black text-lg">
          Daromad va xarajatlarni kuzatish
        </li>
        <li class="font-oswald font-light text-black text-lg">
          Birjani kuzatish
        </li>
        <li class="font-oswald font-light text-black text-lg">
          Ishlab chiqarishni kuzatish
        </li>
        <li class="font-oswald font-light text-black text-lg">
          To'plamni kuzatish
        </li>
        <li class="font-oswald font-light text-black text-lg">
          Chakana savdo kuzatuvi
        </li>
        <li class="font-oswald font-light text-black text-lg">Hisobotlar</li>
      </ul>
    </div>
  </div>
</div>
