<div class="container mx-auto py-[100px] px-[15px]" id="metal">
  <h2
    class="text-center font-open text-[28px] leading-[38px] text-[#222222] mb-9 font-semibold uppercase"
  >
    {{ "metal.title" | translate }}
  </h2>

  <div class="flex flex-row gap-[80px] items-center">
    <div class="size-[400px] relative flex-basis-1 w-[400px]">
      <img src="./assets/images/erp-metal.jpg" alt="img" />
    </div>
    <div class="grow flex-1">
      <ul class="flex flex-col gap-3">
        <li class="font-oswald font-light text-black text-lg">
          {{ "metal.text-1" | translate }}
        </li>
        <li class="font-oswald font-light text-black text-lg">
          {{ "metal.text-2" | translate }}
        </li>
        <li class="font-oswald font-light text-black text-lg">
          {{ "metal.text-3" | translate }}
        </li>
        <li class="font-oswald font-light text-black text-lg">
          {{ "metal.text-4" | translate }}
        </li>
        <li class="font-oswald font-light text-black text-lg">
          {{ "metal.text-5" | translate }}
        </li>
        <li class="font-oswald font-light text-black text-lg">
          {{ "metal.text-6" | translate }}
        </li>
      </ul>
    </div>
  </div>
</div>
