<div class="footer bg-[#fafafa] xl:p-14 md:p-7 p-4">
  <div class="container mx-auto">
    <div class="flex flex-col items-center gap-8">
      <div>
        <img src="./assets/images/logo.png" alt="logo" />
      </div>

      <p class="max-w-[400px] w-full text-center text-lg font-open">
        {{ "footer.text" | translate }}
      </p>

      <div class="flex flex-row items-center gap-3 justify-center">
        <a href=""><span nz-icon nzType="instagram" nzTheme="fill"></span></a>
        <a href=""><span nz-icon nzType="youtube" nzTheme="fill"></span></a>
        <a href=""><span nz-icon nzType="facebook" nzTheme="fill"></span></a>
      </div>

      <span class="text-xs font-oswald">
        2022–{{ year }} © {{ "footer.copyRight" | translate }}
      </span>
    </div>
  </div>
</div>
