<div class="bg-white shadow-bottom fixed top-0 left-0 w-full z-30">
  <div class="container flex flex-row items-center justify-between py-6 px-3 m-auto ">
    <div>
      <img src="./assets/images/logo.png" alt="logo">
    </div>
  
    <ul class="flex flex-row items-center gap-6 font-open">
      <li><a href="#banner" class="uppercase">Home</a></li>
      <li><a href="#features" class="uppercase">Features</a></li>
      <li><a href="#about" class="uppercase">About</a></li>
      <li><a href="#products" class="uppercase">Products</a></li>
      <li><a href="#partners" class="uppercase">Partners</a></li>
      <li><a href="#metal" class="uppercase">Metal</a></li>
      <li><a href="#contacts" class="uppercase">Contacts</a></li>
    </ul>
  </div>
</div>
