.main-circle {
  background: url(../../../assets/images/nebim-v3-en.png) no-repeat center center transparent;
  width: 244px;
  height: 244px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -122px;
  margin-top: -122px;
  z-index: 10;
  cursor: pointer;
}

.uygulamalar {
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
}

#finans {
  top: 60px;
  left: 4px;
}

#finans.uygulamalar:hover, #finans.uygulamalar.active {
  z-index: 10;
  top: 49px;
  left: -28px;
}

#urun-yonetimi {
  top: 4px;
  left: 61px;
}

#urun-yonetimi.uygulamalar:hover, #urun-yonetimi.uygulamalar.active {
  z-index: 10;
  top: -15px;
  left: 53px;
}

#satin-alma {
  top: 4px;
  right: 62px;
}

#satin-alma.uygulamalar:hover, #satin-alma.uygulamalar.active {
  z-index: 10;
  top: -19px;
  right: 53px;
}

#uretim {
  top: 65px;
    right: 3px;
}

#uretim.uygulamalar:hover, #uretim.uygulamalar.active {
  z-index: 10;
  top: 57px;
    right: -16px;
}

#depo-yonetimi {
  bottom: 55px;
  right: 4px;
}

#depo-yonetimi.uygulamalar:hover, #depo-yonetimi.uygulamalar.active {
  z-index: 10;
  bottom: 47px;
  right: -18px;
}

#satis {
  bottom: -3px;
  right: 62px;
}

#satis.uygulamalar:hover, #satis.uygulamalar.active {
  z-index: 10;
  bottom: -30px;
  right: 47px;
}

#crm {
  bottom: -3px;
  left: 62px;
}

#crm.uygulamalar:hover, #crm.uygulamalar.active {
  z-index: 10;
  bottom: -32px;
  left: 46px;
}

#ik {
  bottom: 58px;
  left: 4px;
}

#ik.uygulamalar:hover, #ik.uygulamalar.active {
  z-index: 10;
  bottom: 46px;
  left: -24px;
}

ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

ul li::before {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: #009bde;
}