<div class="outher-circle">
  <div class="outher-circle-content">
    <i class="fas fa-bullhorn"></i>
    <i class="fas fa-cog"></i>
    <i class="fas fa-search"></i>
    <i class="fas fa-comments"></i>
    <i class="fas fa-laptop-code"></i>
    <i class="fas fa-globe-americas"></i>
    <i class="fas fa-lightbulb"></i>
    <i class="fas fa-project-diagram"></i>
  </div>
  <div class="outher-circle-strokes">
    <div></div><div></div><div></div><div></div>
  </div>
  <div class="inner-circle">Key<br>Skills</div>
</div>
