<div class="container mx-auto py-[100px] px-3" id="products">
  <div class="flex md:flex-row flex-col gap-[80px] items-center">
    <div class="flex-basis-1 max-w-[400px] w-full">
      <p class="mb-4 text-xs text-center">{{ "products.text" | translate }}</p>
      <div class="size-[400px] sm:scale-100 scale-75 relative">
        <div class="main-circle" (click)="currentIndex = -1"></div>
        @for (pieace of pieChartPieaces; track pieace; let idx = $index) {
        <a
          [id]="pieace.id"
          class="uygulamalar"
          [ngClass]="{ active: idx === currentIndex }"
          (click)="currentIndex = idx"
        >
          <img [src]="'./assets/images/' + pieace.img" />
        </a>
        }
      </div>
    </div>

    <div class="grow flex-1">
      @if(currentIndex === -1) {
      <div class="grid grid-cols-2 gap-2 w-full">
        <div class="bg-[#009bde] p-3 flex flex-col items-center justify-center">
          <h4 class="font-open text-white font-bold text-2xl mb-0">7.000+</h4>
          <p class="font-oswald text-white font-medium text-xl mb-0">
            {{ "products.table.title-1" | translate }}
          </p>
        </div>
        <div class="bg-[#009bde] p-3 flex flex-col items-center justify-center">
          <h4 class="font-open text-white font-bold text-2xl mb-0">50.000+</h4>
          <p class="font-oswald text-white font-medium text-xl mb-0">
            {{ "products.table.title-2" | translate }}
          </p>
        </div>
        <div class="bg-[#009bde] p-3 flex flex-col items-center justify-center">
          <h4 class="font-open text-white font-bold text-2xl mb-0">30.000+</h4>
          <p class="font-oswald text-white font-medium text-xl mb-0">
            {{ "products.table.title-3" | translate }}
          </p>
        </div>
        <div class="bg-[#009bde] p-3 flex flex-col items-center justify-center">
          <h4 class="font-open text-white font-bold text-2xl mb-0">60.000+</h4>
          <p class="font-oswald text-white font-medium text-xl mb-0">
            {{ "products.table.title-4" | translate }}
          </p>
        </div>
        <div class="bg-[#009bde] p-3 flex flex-col items-center justify-center">
          <h4 class="font-open text-white font-bold text-2xl mb-0">70+</h4>
          <p class="font-oswald text-white font-medium text-xl mb-0">
            {{ "products.table.title-5" | translate }}
          </p>
        </div>
        <div class="bg-[#009bde] p-3 flex flex-col items-center justify-center">
          <h4 class="font-open text-white font-bold text-2xl mb-0">30+</h4>
          <p class="font-oswald text-white font-medium text-xl mb-0">
            {{ "products.table.title-6" | translate }}
          </p>
        </div>
      </div>
      } @else { @switch (currentIndex) { @case(0) {
      <app-product
        [title]="products[currentIndex].title"
        [text]="products[currentIndex].text"
      ></app-product>
      } @case(1) {
      <app-product
        [title]="products[currentIndex].title"
        [text]="products[currentIndex].text"
      ></app-product>
      } @case(2) {
      <app-product
        [title]="products[currentIndex].title"
        [text]="products[currentIndex].text"
      ></app-product>
      } @case(3) {
      <app-product
        [title]="products[currentIndex].title"
        [text]="products[currentIndex].text"
      ></app-product>
      } @case(4) {
      <app-product
        [title]="products[currentIndex].title"
        [text]="products[currentIndex].text"
      ></app-product>
      } @case(5) {
      <app-product
        [title]="products[currentIndex].title"
        [text]="products[currentIndex].text"
      ></app-product>
      } @case(6) {
      <app-product
        [title]="products[currentIndex].title"
        [text]="products[currentIndex].text"
      ></app-product>
      } @case(7) {
      <app-product
        [title]="products[currentIndex].title"
        [text]="products[currentIndex].text"
      ></app-product>
      } } }
    </div>
  </div>
</div>
