<div class="form" id="contacts">
  <div class="container mx-auto px-3 py-[100px]">
    <h3
      class="font-open text-[28px] leading-[38px] text-[#fff] mb-9 font-semibold uppercase"
    >
      {{ "contacts.title" | translate }}
    </h3>

    <form nz-form nzLayout="vertical">
      <div class="grid grid-cols-2 gap-6">
        <nz-form-item>
          <nz-form-label nzFor="email"
            ><span class="text-white">{{
              "contacts.phone" | translate
            }}</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              name="email"
              type="email"
              id="email"
              nzSize="large"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="email"
            ><span class="text-white">{{
              "contacts.fullName" | translate
            }}</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              name="email"
              type="email"
              id="email"
              nzSize="large"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div>
        <nz-form-item>
          <nz-form-label nzFor="email"
            ><span class="text-white">{{
              "contacts.message" | translate
            }}</span></nz-form-label
          >
          <nz-form-control>
            <textarea
              nz-input
              nzSize="large"
              [nzAutosize]="{ minRows: 4, maxRows: 6 }"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>

    <button
      nz-button
      nzType="default"
      nzSize="large"
      class="flex flex-row items-center"
    >
      {{ "contacts.send" | translate }}
      <span nz-icon nzType="send" nzTheme="outline"></span>
    </button>
  </div>
</div>
