<div class="container mx-auto px-3 py-[100px]">
  <h3
    class="font-open text-[28px] leading-[38px] text-[#222222] mb-9 font-semibold uppercase"
  >
    Contact us
  </h3>

  <form nz-form nzLayout="vertical">
    <div class="grid grid-cols-2 gap-6">
      <nz-form-item>
        <nz-form-label nzFor="email">E-mail</nz-form-label>
        <nz-form-control>
          <input nz-input name="email" type="email" id="email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="email">E-mail</nz-form-label>
        <nz-form-control>
          <input nz-input name="email" type="email" id="email" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nzFor="email">E-mail</nz-form-label>
        <nz-form-control>
          <textarea nz-input ></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
</div>
