<div class="form" id="contacts">
  <div class="container mx-auto px-3 md:py-[100px] py-[30px]">
    <h3
      class="font-open text-[28px] leading-[38px] text-[#fff] mb-9 font-semibold uppercase"
    >
      {{ "contacts.title" | translate }}
    </h3>

    <form nz-form nzLayout="vertical" [formGroup]="form">
      <div class="grid md:grid-cols-2 grid-cols-1 md:gap-6">
        <nz-form-item>
          <nz-form-label nzFor="email"
            ><span class="text-white">{{
              "contacts.phone" | translate
            }}</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              name="phone"
              type="text"
              id="phone"
              formControlName="phone"
              nzSize="large"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="email"
            ><span class="text-white">{{
              "contacts.fullName" | translate
            }}</span></nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              name="fullName"
              type="text"
              id="fullName"
              formControlName="fullName"
              nzSize="large"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div>
        <nz-form-item>
          <nz-form-label nzFor="email"
            ><span class="text-white">{{
              "contacts.message" | translate
            }}</span></nz-form-label
          >
          <nz-form-control>
            <textarea
              nz-input
              formControlName="message"
              nzSize="large"
              [nzAutosize]="{ minRows: 4, maxRows: 6 }"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>

    <button
      nz-button
      nzType="default"
      nzShape="round"
      [nzLoading]="isLoading"
      nzSize="large"
      (click)="submit()"
      class="flex-row items-center hidden md:flex"
    >
      {{ "contacts.send" | translate }}
      <span nz-icon nzType="send" nzTheme="outline"></span>
    </button>

    <button
      nz-button
      nzBlock
      (click)="submit()"
      nzShape="round"
      nzType="default"
      [nzLoading]="isLoading"
      nzSize="large"
      class="flex flex-row items-center justify-center md:hidden"
    >
      {{ "contacts.send" | translate }}
      <span nz-icon nzType="send" nzTheme="outline"></span>
    </button>
  </div>
</div>
