<div class="pb-[100px]" id="banner">
  <div class="2xl:h-[790px] md:h-[80%] h-[60%] banner pt-[75px]">
    <div class="container m-auto h-full md:pt-[150px] pt-[40px] px-3">
      <div class="flex flex-col text-white items-center max-w-[570px] w-full m-auto">
        <p class="text-xl font-open mb-4">best software for your office</p>
        <h1 class="sm:text-5xl text-3xl font-oswald mb-2 uppercase text-white font-bold text-center">Try Cooper Today!</h1>
        <p class="text-base font-open text-center">Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
      <div class="md:mt-[86px] mt-[30px]">
        <div class="md:w-[681px] md:h-[382px] m-auto relative md:top-14 top-10">
          <img src="./assets/images/banner.png" alt="laptop">
        </div>
      </div>
    </div>
  </div>
</div>