<div class="container mx-auto pt-[50px] pb-[100px] px-3" id="features">
  <h3
    class="md:mb-[75px] mb-[40px] lg:text-3xl md:text-2xl text-xl font-open max-w-[880px] w-full text-center mx-auto"
  >
    {{ "solution.main" | translate }}
    <span class="text-[#009bde]">{{ "solution.mainSub" | translate }}</span>
  </h3>

  <div
    class="grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 xl:gap-[50px] md:gap-[35px] gap-[20px]"
  >
    @for (item of solutions; track $index) {
    <div class="flex flex-row gap-5">
      <div class="md:size-[56px] size-[40px] flex-basis">
        <img class="w-full h-full object-contain" [src]="item.img" alt="img" />
      </div>
      <div class="flex flex-col gap-4 flex-1">
        <h3 class="md:text-base text-sm font-open uppercase font-semibold">
          {{ item.title | translate }}
        </h3>
        <p
          class="md:text-sm text-xs font-open font-light text-[#51595b] leading-6"
          nz-typography
          nzEllipsis
          [nzEllipsisRows]="5"
          [attr.title]="item.text | translate"
        >
          {{ item.text | translate }}
        </p>
      </div>
    </div>
    }
  </div>
</div>
